# Database
DATABASE_URL=postgresql+asyncpg://pypole:pypole_dev_password@localhost:5432/pypole_db

# Redis
REDIS_URL=redis://localhost:6379/0

# Security
# Generate new Secret Key: python -c "import secrets; print(secrets.token_urlsafe(32))"
SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS
ALLOWED_ORIGINS=http://localhost:3000